.timerBin{
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color:rgb(0, 200, 255) ;
    color: antiquewhite;
    cursor: pointer;
    font-family: consolas, monospace;

}
#timeDisplay{
    font-size: 75px;
    color:rgb(17, 215, 113);
    font-family: consolas, monospace;

}
#timeContainer{
    text-align: center;
    border: 3px solid ;
    border-radius:25px ;
    background-color: rgb(20, 18, 18);
    background-size:700px ;

}